body {
  font: 14px sans-serif;
  text-align: center;
 }
.wrapper {
  padding: 20px;
 }
#welcome {
  margin-top:50px;
  text-align:center;
}
#header {
  position:fixed;
  top:0;
  width:100%;
  left:0;
  border-bottom:1px solid black;
  text-align:center;
  padding: 10px 0;
}
#header a {
  color: red;
}
form {
  text-align:center;
}
#search, #searchtable {
  width:500px;
  margin: 0 auto;
  margin-top:50px;
}
